@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #8261ee;
    --secondary-color: #ff589e;
    --gray: #7a7a7a;
    --page-color: #fff;
    --text-color: #777;
    --text-dark: #1e1e1e;
    --primary-font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.50%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    background-color: var(--page-color);
    overflow-x: hidden;
}

.text-purple {
    color: var(--primary-color) !important;
}

.text-pink {
    color: var(--secondary-color);
}

h1 {
    font-size: 4.0rem;
    line-height: 5.0rem;
}

h2 {
    font-size: 3.5rem;
    line-height: 4.0rem;
}

h3 {
    font-size: 3.0rem;
    line-height: 3.7rem;
}

h4 {
    font-size: 2.8rem;
    line-height: 3.2rem;
}

h5 {
    font-size: 2.5rem;
    line-height: 3.0rem;
}

h6 {
    font-size: 1.8rem;
    line-height: 2.0rem;
    margin-bottom: 1rem;
}

p {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 2.8rem;
    letter-spacing: 1px;
    font-family: var(--primary-font-family);
}

.text-gray {
    color: var(--gray);
}

.text-green {
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-size: 1.4rem;
    padding: 8px 21px;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-primary.pink {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-primary.pink:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.section-title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.2rem;
    color: var(--text-dark);
    letter-spacing: 0.25px;
    margin-bottom: 30px;
    position: relative;
}

.feature-title {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--text-dark);
    letter-spacing: 0.7px;
    position: relative;
    z-index: 2;
}

.small-text {
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--text-color);
    letter-spacing: 0.5px;
    line-height: 25px;
    position: relative;
    z-index: 2;
}

.align-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text-white * {
    color: #fff;
}

.mt-6 {
    margin-top: 6rem;
}

.sec-spacing {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.sec-bg {
    background-color: #f2f2fe;
}

.bg-pink {
    background-color: var(--secondary-color) !important;
}


/* Header */

.header {
    position: fixed;
    width: 100%;
    margin: 2rem auto;
}

.header .container {
    background-color: #fff;
    padding: 2rem 2rem;
    border-radius: 50px;
}

.header .nav-item .nav-link {
    color: var(--text-dark);
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0px;
    padding: 1rem 20px;
}

.navbar-toggle-icon {
    position: relative;
    width: 20px;
    height: 1px;
    background-color: red;
    display: inline-block;
}

.navbar-toggle-icon::before {
    left: 0;
    content: '';
    position: absolute;
    top: 9px;
    height: 2px;
    width: 25px;
    background-color: red;
}

.navbar-toggle-icon::after {
    left: 0;
    content: '';
    position: absolute;
    bottom: 9px;
    height: 2px;
    width: 25px;
    background-color: red;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.header .navbar-brand .logo {
    width: 120px;
    height: auto;
}

@media screen and (max-width: 991px) {
    .header .nav-item .nav-link {
        padding: 1.4rem 20px;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }
    .header .nav-item:last-child .nav-link {
        border-bottom: none;
    }
    .header {
        position: relative;
        width: 100%;
        margin: 0rem auto;
    }
}

.navbar-toggler[aria-expanded=true] .navbar-toggle-icon::after {
    transform: translateY(8px) rotate( 43deg);
    transition: 0.5s;
}

.navbar-toggler[aria-expanded=true] .navbar-toggle-icon::before {
    transform: translateY(-11px) rotate( -45deg);
    transition: 0.5s;
}

.navbar-toggler[aria-expanded=true] .navbar-toggle-icon {
    background-color: #fff;
    transition: 0.5s;
}


/* Welcome Area */

.welcome-area {
    background-image: url(../img/banner-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.welcome-area .text {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.welcome-area h1 {
    font-size: 4rem;
    color: #ffff;
    margin-bottom: 2rem;
}

.welcome-area p {
    color: #fff;
}

.features .icon {
    width: 90px;
    height: 90px;
    margin: auto;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.features .icon img {
    max-height: 40px;
    width: auto;
}

.features {
    margin-top: -220px;
    z-index: 9999;
}

.features .wrap {
    margin: 37px 10px;
    padding: 3rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
    border-radius: 30px;
}

.section {
    padding: 70px 0;
}

.work-process {
    background-image: url(../img/work-process-bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 90px;
    padding-bottom: 90px;
}

.work-process .box-wrap {
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem 1.5rem;
    box-shadow: 7px 6px 0px 3px rgb(255 255 255 / 27%);
}

.work-process .icon {
    margin-bottom: 2rem;
}

.work-process .text p {
    line-height: 21px;
    font-size: 14px;
}

.testimonials .name {
    display: block;
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 0.25px;
    margin-bottom: 5px;
}

.testimonials .box-wrap {
    background-color: #fff;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
    margin: 1rem 1rem;
    padding: 3rem 3rem;
    border-radius: 2rem;
}

.pricing .box-wrap {
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
    padding: 3rem;
    background-color: #fff;
    border-radius: 2rem;
    text-align: center;
    margin: 1rem 3rem;
}

.pricing .list li {
    list-style-type: none;
    font-size: 15px;
    margin-bottom: 1rem;
    color: #777;
    text-decoration: line-through;
}

.pricing .list li.active {
    text-decoration: none;
}

.pricing .price {
    flex-direction: column;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    border-radius: 2rem;
    margin: 3rem auto;
}

.facts {
    background-image: url(../img/fun-facts-bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.facts h5 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.facts p {
    font-size: 2rem;
}

.facts .box-wrap {
    position: relative;
    margin: 2rem;
}

.facts .box-wrap.decoration::after {
    content: '';
    position: absolute;
    right: -10%;
    top: 50%;
    background-image: url(../img/circle-dec.png);
    width: 58px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
}

.blogs .blog-post a {
    text-decoration: none;
    margin-top: 2rem;
}

.blogs .blog-post h3 {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
}

.blogs .blog-post img {
    margin-bottom: 3rem;
}

.blog-post {
    margin-bottom: 4rem;
}

.contact input.form-control {
    height: 50px;
    margin-bottom: 4rem;
    border-radius: 31px;
    border-color: #e9e9e9;
    color: #000;
    font-size: 1.2rem;
    padding: 0rem 2rem;
}

::placeholder {
    font-size: 1.4rem;
}

.contact .form-wrap {
    padding: 0rem 0rem 0rem 5rem;
}

.contact textarea {
    height: 150px;
    border-radius: 15px;
    padding: 2rem 0rem 0rem 2em;
    border-color: #e9e9e9;
    margin-bottom: 3rem;
}

.contact .text p {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

footer {
    background-image: linear-gradient( 127deg, #a759d1 0%, #8261ee 91%);
    padding: 2rem 0;
}

footer .social ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social ul li a {
    color: #9d5bd9;
    text-align: center;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

footer .social ul li a:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

footer .social ul li {
    margin: 2rem 0.60rem;
}

footer .social ul li a i {
    padding-top: 9px;
}

footer .copyright p {
    color: #fff;
    font-size: 13px;
}

footer hr {
    background-color: #fff;
}

footer .credit {
    color: #fff;
    text-decoration: none;
}


/* Responsive */

@media (max-width: 1200px) {
    .work-process .box-wrap {
        padding: 2rem 1rem;
        margin: 1rem 0.5rem;
    }
}

@media (max-width: 991px) {
    .features {
        margin-top: 0px;
    }
    .pricing .box-wrap {
        margin: 1rem 0rem;
    }
    .facts .box-wrap {
        margin: 3rem auto 7rem;
    }
    .facts .box-wrap.decoration::after {
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 767px) {
    .contact .form-wrap {
        padding: 0rem 0rem 0rem 0rem;
    }
    .section img {
        margin-bottom: 2rem;
    }
}